<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noriteo.delinori.saleboard.mapper.SaleBoardReplyMapper">

    <insert id="insert">
        insert into reply_saleboard (sno, gno, reply, replyer)
        values (#{sno}, #{rno}, #{reply}, #{replyer})
        <selectKey order="AFTER" resultType="long" keyProperty="rno">
            select last_insert_id()
        </selectKey>
    </insert>

    <update id="replyUpdate">
        update reply_saleboard set gno = rno where gno is null
    </update>

    <select id="getListWithPaging" resultType="com.noriteo.delinori.saleboard.domain.Reply">
        select * from reply_saleboard where sno = #{sno} order by gno asc, rno asc limit #{pageRequestDTO.skip},#{pageRequestDTO.size}
    </select>

    <select id="getCountBySno" resultType="int">
        select count(rno) from reply_saleboard where sno = #{sno}
    </select>

    <delete id="delete">
        delete from reply_saleboard where rno = #{rno}
    </delete>

    <update id="update">
        update reply_saleboard set reply = #{reply}, modDate = now() where rno = #{rno}
    </update>

</mapper>