<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noriteo.delinori.notice.mapper.ReplyMapper">

    <insert id="insert">
        insert into reply_notice (nno,replyer,reply)
        values (#{nno},#{replyer},#{reply})
    </insert>


    <select id="getListWithNotice" resultType="com.noriteo.delinori.notice.domain.Reply">
        select * from reply_notice where nno = #{nno} order by rno asc
    </select>

    <delete id="delete">
        delete from reply_notice where rno =#{rno}
    </delete>

    <update id="update">
        update reply_notice set reply = #{reply}, modDate = now() where rno = #{rno}
    </update>



</mapper>



